/* tmain.css */
#rootElementTransfer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 19px;
  background: url("/public/plate_back_1.png");
    /*lightgray -63.363px -65.641px / 131.84% 125.102% no-repeat;*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#gems{
  display: flex;
  padding-left: 55px;
  font-family: kanit;
  font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.Heading {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: kanit;
    padding-bottom: 50px;
    /* Add more styles here as needed */
  }

  .Heading1 {
    padding-top: 50px ;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: kanit;
    padding-bottom: 50px;
    /* Add more styles here as needed */
  }


  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

   /* height: 200px;  Use flexbox to create a side-by-side layout */

  }

  .other-container {
    border-radius: 10px;
    height: 40px;
    width: 200px;
    background-color: rgba(7,19,33,0.32);
    border: none;
    text-decoration: none;
    outline: none;
    color: aliceblue;
    font-size: 30px;
  }

  .con1{
    display: flex;
    flex-direction: column;

  }

  .transferButton{
    background: url("/public/Buttons/Group3355-1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 220px;
    height: 40px;
    cursor: pointer;
  }

