body{
    display: flex;
    justify-content: center;
    background: #385a65;
    height: 100vh;
}
#root{
    margin-top: 0.5vh;
    min-height: 90vh;
    max-height: 99vh;
    background: #385a65;
    max-width: 500px;
}
